@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap');

:root {
    --accent-color: #E54065;
    --text-color: #636363;
    --border-color: #cfd2dc;
    --background-color: #fff;
    --read-background-color: #f2f2f2;
    --font-family: 'Nunito',sans-serif;
    --filter-background-color:#e1e4ea;
    --body-background-color:#f4f5f9;
  }
  